<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Todo-List</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="nav-item nav-link">Log In</a> <!-- link-to helper will go here -->
        </li>
        <li>
          <a href="#" class="nav-item nav-link">Sign Up</a> <!-- link-to helper will go here -->
        </li>
      </ul>
      <!-- only want this to show up when logged in to todo-list
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
      -->
    </div>
  </div>
</nav>

{{yield}}
